<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tt.biz.pay.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="tt.biz.pay.model.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="guardian" property="guardian" jdbcType="VARCHAR" />
    <result column="guardian_type" property="guardianType" jdbcType="VARCHAR" />
    <result column="guardian_mobile" property="guardianMobile" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="attr01" property="attr01" jdbcType="VARCHAR" />
    <result column="attr02" property="attr02" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="last_time" property="lastTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age, sex, guardian, guardian_type, guardian_mobile, openid, pic_url, attr01, 
    attr02, create_time, last_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
    <include refid="Base_Column_List" />
    from e_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from e_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="tt.biz.pay.model.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into e_user (id, name, age, 
      sex, guardian, guardian_type, 
      guardian_mobile, openid, pic_url, 
      attr01, attr02, create_time, 
      last_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{sex,jdbcType=VARCHAR}, #{guardian,jdbcType=VARCHAR}, #{guardianType,jdbcType=VARCHAR}, 
      #{guardianMobile,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{attr01,jdbcType=VARCHAR}, #{attr02,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{lastTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="tt.biz.pay.model.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into e_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="guardian != null" >
        guardian,
      </if>
      <if test="guardianType != null" >
        guardian_type,
      </if>
      <if test="guardianMobile != null" >
        guardian_mobile,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="attr01 != null" >
        attr01,
      </if>
      <if test="attr02 != null" >
        attr02,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="guardian != null" >
        #{guardian,jdbcType=VARCHAR},
      </if>
      <if test="guardianType != null" >
        #{guardianType,jdbcType=VARCHAR},
      </if>
      <if test="guardianMobile != null" >
        #{guardianMobile,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="attr01 != null" >
        #{attr01,jdbcType=VARCHAR},
      </if>
      <if test="attr02 != null" >
        #{attr02,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tt.biz.pay.model.entity.User" >
    update e_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="guardian != null" >
        guardian = #{guardian,jdbcType=VARCHAR},
      </if>
      <if test="guardianType != null" >
        guardian_type = #{guardianType,jdbcType=VARCHAR},
      </if>
      <if test="guardianMobile != null" >
        guardian_mobile = #{guardianMobile,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="attr01 != null" >
        attr01 = #{attr01,jdbcType=VARCHAR},
      </if>
      <if test="attr02 != null" >
        attr02 = #{attr02,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tt.biz.pay.model.entity.User" >
    update e_user
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      guardian = #{guardian,jdbcType=VARCHAR},
      guardian_type = #{guardianType,jdbcType=VARCHAR},
      guardian_mobile = #{guardianMobile,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      attr01 = #{attr01,jdbcType=VARCHAR},
      attr02 = #{attr02,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      last_time = #{lastTime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>