<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tt.biz.pay.mapper.WeixinMapper" >
  <resultMap id="BaseResultMap" type="tt.biz.pay.model.entity.Weixin" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="attr01" property="attr01" jdbcType="VARCHAR" />
    <result column="attr02" property="attr02" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="last_time" property="lastTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, name, pic_url, attr01, attr02, create_time, last_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from e_weixin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from e_weixin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="tt.biz.pay.model.entity.Weixin" useGeneratedKeys="true" keyProperty="id">
    insert into e_weixin (id, openid, name, 
      pic_url, attr01, attr02, 
      create_time, last_time)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=VARCHAR}, #{attr01,jdbcType=VARCHAR}, #{attr02,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{lastTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="tt.biz.pay.model.entity.Weixin" useGeneratedKeys="true" keyProperty="id">
    insert into e_weixin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="attr01 != null" >
        attr01,
      </if>
      <if test="attr02 != null" >
        attr02,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="attr01 != null" >
        #{attr01,jdbcType=VARCHAR},
      </if>
      <if test="attr02 != null" >
        #{attr02,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tt.biz.pay.model.entity.Weixin" >
    update e_weixin
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="attr01 != null" >
        attr01 = #{attr01,jdbcType=VARCHAR},
      </if>
      <if test="attr02 != null" >
        attr02 = #{attr02,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tt.biz.pay.model.entity.Weixin" >
    update e_weixin
    set openid = #{openid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      attr01 = #{attr01,jdbcType=VARCHAR},
      attr02 = #{attr02,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      last_time = #{lastTime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>